.modalContainer {
  display: flex;
  justify-content: flex-end;
  max-width: 360px;
  background-color: rgb(190, 217, 241);
  /* margin: 0 auto; */
  position: relative;
}

.headerModal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
}

.timerBox {
  margin-bottom: 24px;
}

.timerTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.formInput {
  width: 100%;
  padding: 12px 16px;
  background-color: #f2f4fa;
  margin-bottom: 20px;
  color: #767b8e;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  border: none;
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.flagIcon {
  position: absolute;
  padding-top: 16px;
  padding-left: 16px;
}

.formInputNumber {
  width: 100%;
  padding: 12px 48px;
  background-color: #f2f4fa;
  margin-bottom: 20px;
  color: #767b8e;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  border: none;
}

.formInputCheckBox {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

.checkpointIcon {
  width: 16px;
  height: 16px;
}

.formText {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
}

.formBtnSubmit {
  width: 100%;
  background-color: #0f7c41;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 0;
  border: none;
  cursor: pointer;
}

.formErrorMessage {
  margin-bottom: 20px;
  color: red;
}

.modalOverlay {
  /* position: absolute;
  top: 10%;
  left: 52.8%;
  width: 100%;
  display: flex; */

  position: absolute;
  top: 46%;
  left: 66%;
  transform: translate(-50%, -50%);
}

.modalContent {
  position: relative;
  max-width: 336px;
  background: #fff;
  padding: 30px 20px;
  border-color: none;
  box-shadow: 0px 0px 20px 0px #0f7c4133;
}

.modalContent:hover :active {
  border-color: none;
}

.formWrapper {
}

@media (max-width: 768px) {
  .timerTitle,
  .modalContent .formBtnSubmit {
    display: block; /* Покажемо ці елементи */
  }

  .closeBtn,
  .logo,
  .formWrapper,
  .inputWrapper,
  .formInputCheckBox {
    display: none;
  }

  .headerModal {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .timerTitle,
  .formWrapper,
  .inputWrapper {
    display: block;
  }

  .closeBtn,
  .logo {
    display: none;
  }

  .headerModal {
    margin-bottom: 0;
  }
}
